@define-color bg #0B0C16;
@define-color fg #ddf7ff;
@define-color accent #82FB9C;
@define-color selected_bg #ddf7ff;
@define-color selected_fg #0B0C16;
@define-color urgent #50f872;
@define-color success #4fe88f;
@define-color warning #50f7d4;

* {
    background-color: @bg;
    color: @fg;
}

entry,
button,
.view,
.iconview {
    background-color: shade(@bg, 1.2);
    color: @fg;
}

entry:focus,
button:hover {
    border-color: @accent;
}

selection {
    background-color: @accent;
    color: @fg;
}
